body {
  display: block;
  margin: 8px;
}
.parent-list {
  position: relative;
}
.arrow {
  cursor: pointer;
  user-select: none;
}
.arrow::before {
  display: inline-block;
  content:"\25B6 ";
  position: absolute;
  left: 0;
  transform: rotate(90deg);
}
.arrow-down::before {
  transform: rotate(-0deg);
}
.display-list-item {
  display: block;
}

.hide-list-item {
  display: none;
}
.list-item {
  margin-left: 2.5rem;
  padding: 10px;
}
.list-item-key {
  padding: 10px;
}
.person-icon {
  position: absolute;
  left: 20px
}
.person-icon-key {
  position: absolute;
  left: 60px;
}
.search {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 20px;
}
